html,
body {
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #3f3636;
}

.home .home-wrapper {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .home-text {
  color: red;
}
